body,div,ul,li,h4,p{margin:0;padding:0;}
body{font:12px/1.8 arial;color:#fff;background:#fff;}
a{color:#fff;text-decoration:none;background:#666;padding:2px 5px;}
a:hover{background:#F90;}
#box{position:relative;width:754px;height:292px;padding:20px;margin:115px auto 0;border: 1px solid #817f80;box-shadow:10px 10px 5px #dad1d3;border-radius: 20px}
#box ul{position:relative;width:754px;height:292px;}
#box li{position:absolute;border:2px solid #000;list-style:none;background:#000;width:0;height:0;top:146px;left:377px;z-index:0;cursor:pointer;overflow:hidden;border-radius:3px;}
#box li img{width:100%;height:100%;vertical-align:top;}
#box li div{position:absolute;bottom:-100px;width:100%;height:100px;background:#000;filter:alpha(opacity=70);opacity:0.7;}
#box li div h4{margin:0 10px;font:12px/24px arial;border-bottom:1px #333 solid;}
#box li div h4 span{color:red;margin-left:10px;}
#box li div p{margin:5px 10px 0;text-indent:2em;}
#box .prev, #box .next{
    position:absolute;
    top:50%;
    width:42px;
    height:80px;
    /* border:1px solid #ff3366; */
    margin-top:-40px;
    overflow:hidden;
    text-indent:-999px;
    cursor:pointer;
    background:url("../img/right_icon.png") no-repeat;
    background-size: cover;
    /* background:url("img/right_icon.png") no-repeat; */
    z-index: 99;
}
#box .prev{left:60px;transform: rotate(180deg);}
#box .next{right:60px;}
#copyright{padding-top:10px;text-align:center;}